:host {
  --primary-color: var(--p-primary-400);
}

/* MEGAMENU BASE */
::ng-deep .custom-megamenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2.5rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 1700px;
  background-color: transparent;
  border-radius: 1rem;
}

/* ÍCONES DO MENU */
::ng-deep .custom-megamenu .p-menuitem-link {
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .custom-megamenu .p-menuitem-link:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.6rem;
}

.menu-icon {
  font-size: 1.5rem !important;
}

/* TOGGLE + SEARCH */
.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1.5rem;
}

.search-input {
  border-radius: 0.8rem;
  border: 1px solid var(--p-primary-400);
  padding: 0.3rem 0.7rem;
  color: var(--p-primary-400);
  background-color: transparent;
  outline: none;
  width: 160px;
}

/* BOTÃO HAMBURGUER */
.hamburger-button {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--p-primary-400);
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

.home-layout-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  gap: 2rem;
}


.logo-hamburger-container {
  display: flex;
  align-items: center;
}

/* LOGO MOBILE */
.home-layout-header-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1700px;
}

/* SIDEBAR */
.mobile-menu {
  list-style: none;
  padding: 0;
}

.mobile-menu li {
  margin: 1rem 0;
}

.mobile-menu a {
  color: var(--p-primary-400);
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .home-layout-header-mobile {
    display: flex !important;
  }

  .logo-container-desktop {
    display: none !important;
  }

  .hamburger-button {
    display: inline-block;
  }

  .search-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    width: 100%;
    gap: 0.5rem;
  }

  .p-inputtext {
    width: 100%;
    max-width: 250px;
  }

  ::ng-deep .p-iconfield {
    width: 100%;
    max-width: 200px;
  }

  /* Remove o botão de menu do PrimeNG */
  ::ng-deep .p-megamenu-button {
    display: none !important;
  }
}

/* TOOLTIP */
::ng-deep .p-tooltip {
  color: #fff;
  font-size: 0.75rem;
  padding: 0.35rem 0.6rem;
  border-radius: 0.4rem;
}

::ng-deep .p-tooltip-text {
  white-space: nowrap;
}
