.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-olho {
    width: 10vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--p-primary-400) !important;
  }