@import 'primeicons/primeicons.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color) !important;
  color: var(--p-primary-400);
  transition: background-color
}

:root{
  --p-menubar-background: transparent !important;
  --p-menubar-border-color: transparent !important;
  --p-form-field-background: transparent !important;
  --p-card-background: transparent !important;
  --p-card-color: var(--p-primary-400) !important;
  --p-megamenu-item-link-color: var(--p-primary-400) !important;
}


.p-megamenu{
  background: linear-gradient(145deg, rgba(155, 81, 224, 0.15), rgba(54, 0, 120, 0.15)) !important;
  backdrop-filter: blur(20px)!important;
  border-radius: 16px!important;
  padding: 0.4rem 0.8rem!important;
  border: 1px solid rgba(255, 255, 255, 0.05)!important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25)!important;
  color: var(--text-color)!important;
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  justify-content: space-between!important;
  overflow: hidden!important;
}

.p-megamenu-item-link{
  color: var(--p-primary-400) !important;
  text-decoration: none!important;
  transition: color 0.3s ease-in-out!important;
}


.login-container {
  flex: column;
  justify-content: center;
  align-items: center;
  width: 200vw;
}

.p-menubar-item-link
{
  color: var(--p-primary-400) !important;
}


@keyframes glowing-border {
    0% {
        border-image-source: linear-gradient(90deg, #7B00FF, #FF00FF);
        border-image-slice: 1;
    }
    50% {
        border-image-source: linear-gradient(90deg, #FF00FF, #7B00FF);
        border-image-slice: 1;
    }
    100% {
        border-image-source: linear-gradient(90deg, #7B00FF, #FF00FF);
        border-image-slice: 1;
    }
}

input.mat-input-element {
    background: var(--input-background);
    color: var(--input-text);
}

@use '@angular/material' as mat;

@mixin my-snackbar-theme($theme) {
  $palette: mat.get-theme-color($theme);
  @include mat.snack-bar-overrides((
    container-color: mat.get-color-from-palette($palette, primary),
    supporting-text-color: white
  ));
}
@include my-snackbar-theme($my-theme);

.snackbar-success {
    background-color: #4CAF50 !important; /* Verde */
    color: white !important;
  }
  
  .snackbar-error {
    background-color: #f44336 !important; /* Vermelho */
    color: white !important;
  }
  
  .snackbar-warning {
    background-color: #ff9800 !important; /* Laranja */
    color: black !important;
  }
  
  .mat-mdc-snack-bar-container {
    border-radius: 5px !important;
    font-weight: bold !important;
    text-align: center !important;
  }
  
  .mat-mdc-snack-bar-action {
    color: white !important; /* Para o botão "Fechar" ficar sempre branco */
  }


  
.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color); 
    transition: color 0.3s ease-in-out;
}

.theme-toggle:hover {
    color: var(--p-primary-400);
}

.theme-toggle mat-icon {
    font-size: 25px; /* Define o tamanho do ícone */
}

:root, .dark-theme {
    transition: background-color 0.5s ease-in-out, 
                color 0.5s ease-in-out, 
                border-color 0.5s ease-in-out;
}